.reviews
  padding-top: 24px
  &__title
    //margin-top: 24px
    font-size: 24px
    font-weight: 800
    color: $font-grey
    padding-left: 30px
    //text-align: center

  &__quantity
    //display: block
    padding-left:30px
    font-size: 13px
    color: $font-grey