.reviews

  &__title
    margin-top: 24px
    font-size: 24px
    font-weight: 800
    color: #424242
    text-align: center

  &__quantity
    display: block
    margin-left:30px
    font-size: 13px
    color: #424242