@import 'fonts'
@import 'modules/button'
@import 'modules/variables'
@import 'modules/reset'
@import 'modules/header'
@import 'modules/breadcrumbs'
@import 'modules/description'
@import 'modules/reviews'
@import 'modules/sidebar'
@import 'modules/slider'
@import 'modules/salebutton'

body
  font-family: OpenSans
  font-size: 16px
  font-weight: 400
  color: $font-grey

.content
   background-color: $bg-desctop
   padding-top: 32px

.btn
  background-color: $bg-button
  color: $bg-mobile
  padding-top: 16px
  padding-bottom: 16px
  font-weight: 700






